.search-box {
  width: 420px;
  height: 54px;
  position: relative;
}
.search-box .search-input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 1px solid rgba(124, 146, 205, 0.7);
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  padding-left: 22px;
  padding-right: 22px;
  transition: all .3s;
  color: #7C92CD;
}
.search-box .search-input:focus {
  outline: none;
  box-shadow: 0 0 3pt #afbde4;
}
.search-box .search-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #4A36EB;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 20px;
}
.search-box .search-button div {
  display: block;
}
.hide {
  display: none !important;
}