.App {
  font-family: Poppins, sans-serif;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-weight: 500;
  padding-left: 10px;
  padding-right: 10px;
}
.App .group-title {
 display: flex;
 align-items: center; 
 margin: 20px 0;
}
.App .group-title .title {
  font-size: 14px;
  color:#999;
  flex-grow: 1;
}
.App .group-title a {
  font-size: 12px;
  text-decoration: none;
  color: #262626;
  flex-grow: 0;
}